<div id="infobox-edge">
  EDGE OPTIONS MENU
  <input type="submit" value="Reverse Arrow" onClick="reverse_arrow()"><br/>
  Label<br/>
  <input type="text" id="edge-label"> </input><br/>
  Detailed description<br/>
  <textarea id="detailed-description-edge" rows="10">
  </textarea>
  <br />
  Arrow meaning<br />
  <select id="edge-meaning">
    <option value="cause">Causes</option>
    <option value="prevent">Prevents</option>
    <option value="reference">References</option>
  </select>
  <br />

  How likely is it that A would cause B?<br/>
  <select id="cause-weird">
    <option value="0">Not at all likely</option>
    <option value="1">Somewhat likely</option>
    <option value="2">Fairly likely</option>
    <option value="3">Very likely</option>
  </select>
  <br/>
  How likely is it that A would prevent B?<br/>
  <select id="prevent-weird">
    <option value="0">Not at all likely</option>
    <option value="1">Somewhat likely</option>
    <option value="2">Fairly likely</option>
    <option value="3">Very likely</option>
  </select>
</div>
