<div id="infobox-edge" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edge Options</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="input-group">
        <label for="edge-name">Label:</label>
        <input id="edge-name"
               type="text"
               class="form-control"
               placeholder="Add a label"
               ng-model="edge.label">
      </div>
    </div>

    <br />

    <div class="row">
      <div class="input-group">
        <label for="edge-desc">Description:</label>
        <textarea
          id="edge-desc"
          type="text"
          class="form-control"
          placeholder="Add a detailed description for this edge"
          ng-model="edge.detailed"
          rows="10"></textarea>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-default"
          ng-init="showReverseArrowAnimation=false;"
          ng-click="reverseEdge(edge); showReverseArrowAnimation=!showReverseArrowAnimation;">
          <span
            class="glyphicon glyphicon-transfer"
            ng-class="{'gly-spin-180': showReverseArrowAnimation,
                      'gly-reverse-spin-180': !showReverseArrowAnimation}"
            aria-hidden="true"></span> Reverse Arrow
        </button>
      </div>
    </div>

    <br />

    <div class="row">
      <label for="edge-meaning">Edge Meaning: </label>
      <select class="form-control" id="edge-meaning" ng-model="edge.meaning">
        <option
          ng-repeat="option in edgeMeanings"
          value="{{option.value}}">
          {{option.name}}
        </option>
      </select>
    </div>

    <br />

    <div class="row" ng-show="edge.meaning==='cause'">
      <label for="cause-weird">How likely is it that A would cause B?</label>
      <select id="cause-weird" class="form-control" ng-model="edge.cause_weird">
        <option value="0">Not at all likely</option>
        <option value="1">Somewhat likely</option>
        <option value="2">Fairly likely</option>
        <option value="3">Very likely</option>
      </select>
    </div>

    <div class="row" ng-show="edge.meaning==='prevent'">
      <label for="prevent-weird">How likely is it that A would prevent B?<br/></label>
      <select id="prevent-weird" class="form-control" ng-model="edge.prevent_weird">
        <option value="0">Not at all likely</option>
        <option value="1">Somewhat likely</option>
        <option value="2">Fairly likely</option>
        <option value="3">Very likely</option>
      </select>
    </div>
  </div>
</div>
