<div>
  GRAPH OPTIONS MENU
  <input type="submit" value="Save" ng-click="saveGraph()"><br/>
  Save under name:<br />
  <input type="text" id="save-name" ng-model="graph.save_name"> </input><br/>
  <hr class="no-margins" style="" />











  <input type="submit" value="New Node" onClick="new_node()"><br/>
  <input type="submit" value="Reverse Arrow" onClick="reverse_arrow()"><br/>
  <input type="radio" name="edit-mode" onClick="mode_arrows()" checked>Arrow mode
  <br />
  <input type="radio" name="edit-mode" onClick="mode_move()">Move mode<br />
</div>
