<div id="infobox-node" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Node Options</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="input-group">
        <label for="node-name">Label:</label>
        <input id="node-name"
               type="text"
               class="form-control"
               placeholder="Add a label"
               ng-model="node.label">
      </div>
    </div>

    <br />

    <div class="row">
      <div class="input-group">
        <label for="node-desc">Description:</label>
        <textarea
          id="node-desc"
          type="text"
          class="form-control"
          placeholder="Add a detailed description for this node"
          ng-model="node.detailed"
          rows="10"></textarea>
      </div>
    </div>

    <br />

    <div class="row">

      <div id="lock-button" class="btn-group" role="group">
        <div class="input-group">
          <input type="checkbox" name="locked" ng-model="node.locked">
          <span ng-show="node.locked"> Locked <i class="fa fa-lock" aria-hidden="true"></i></span>
          <span ng-show="!node.locked"> Locked <i class="fa fa-unlock" aria-hidden="true"></i></span>
        </div>
        <div class="input-group">
          <input type="checkbox" name="truth" ng-model="node.truth"> True
        </div>
      </div>
    </div>

    <br/>

    <div class="row">
      <label for="self-cause-weird">How likely is it that this would happen for no reason?</label>
      <select id="self-cause-weird" class="form-control" ng-model="node.self_cause_weird">
        <!-- ISSUE (TODO): These option values are of different order, representing intensity, than
             the edge options values go.
             Make this consistent? . -->
        <option value="3">Not at all likely</option>
        <option value="2">Somewhat likely</option>
        <option value="1">Fairly likely</option>
        <option value="0">Very likely</option>
      </select>
    </div>
</div>
