{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

<h1>Is this an emergency?</h1>

<h3>If you are thinking of hurting yourself or someone else, please
don't do that. Call 911 or the emergency services where you live. We
know this is really scary! We promise that this is the right thing to
do.</h3>

<h1>Hugs</h1>

<h3>So you think you might need help? First off, so many hugs. Some of
us have been where you are, and it's not a fun place to be. It takes a
lot of courage to tell anyone that you are having trouble, and you
should be proud of yourself for having that courage.
</h3>

<h1>Find someone you can trust</h1>

<h3>We recommend finding one or two people who can help you. Think
about the people you know - who would you trust the most to listen to
you and not judge you? Send them a Nash invite from
the <a href="/friends">Friends</a> page.
</h3>

<h1>Make a list of what's troubling you</h1>

<h3>What things are you not sure about? What things do you currently
think are true that you don't think most people would agree with? Make
a list of these things and then go to the <a href="/newgraph">New
Graph</a> page. We will help you turn this list into a diagam that
explains to people what's going on with you, and lets them help you
figure out what's going on.
</h3>

<h1>Remember that everyone has a point of view</h1>

<h3>It's likely that you've just had a lot of weird experiences that
you can't explain, but remember that other people may not have been
there with you for those experiences, or they may have a different
view of what those experiences mean. </h3>

<h1>Remember that everyone who counts is rooting for you!</h1>

<h3>We're rooting for you too.</h3>

<h1>Let's get started!</h1>

<h3>Invite a friend on the <a href="/Friends">Friends</a> page, then
head to the <a href="/newgraph">New Graph</a> page.</h3>

{% endblock %}
