{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

<h1>Is this an emergency?</h1>

<h3>If you think your friend is thinking of hurting themselves or
someone else, please call 911 or the emergency services where you
live. We know this is really scary! We promise that this is the right
  thing to do.</h3>

<h3>BUT, please don't do this just because your friend believes something
weird. Weird and dangerous is dangerous, weird and not dangerous is
not dangerous.</h3>

<h1>Hugs</h1>

<h3>So you think your friend might need help? First off, so many
hugs. Some of us have been where you are, and it's not a fun place to
be. Thanks for being there for your friend!
</h3>

<h1>Please keep this confidential</h1>

<h3>Your friend is having trouble telling what is real and what is
not, and our society really stigmatizes anything that looks remotely
like that kind of trouble. People can and do lose jobs and
relationships because of that stigma. If your friend has shared
anything with you on this site, they've put a huge amount of trust in
you, and it's up to you not to betray that trust.
</h3>

<h1>Remember that everyone has a point of view</h1>

<h3>It's likely that your friend has just had a lot of weird
experiences that they can't explain. They may believe things that you
have a hard time discussing calmly. If you want to help your friend,
it is best if you can stay calm and tell them which things make sense
to you and which things do not make sense to you, in a patient and
non-judgmental way. It will help immensely if you can acknowledge that
you cannot be certain of things that happened when you were not with
your friend.</h3>

<h1>Please do not lie to your friend or humor them</h1>

<h3>Your friend is in a very vulnerable place right now. Please try to
treat them as you would want to be treated if you were in their shoes
- straightforwardly, and with respect and dignity.</h3>

<h1>Remember that everyone who counts is rooting for your friend!</h1>

<h3>We're rooting for them too.</h3>

<h1>Let's get started!</h1>

<h3>Wait for your friend to share a graph with you.</h3>

{% endblock %}
