{% extends "splash_layout.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<div class="white">
<h1>Not sure what's real and what isn't?</h1>

<h2>Get the help you need from the people in your life</h2>

<div class="left">

  <p>Nash is a tool that helps you make sense of your reality and lets
  your friends and family help you. It also helps you explain to them
    what's going on with you.</p>

  <p>We believe that you are the best judge of what is going on in
  your mind and your reality. We provide training to help you be even
    better at understanding the events of your life.</p>

  <p>Nash is free to use, and always will be.</p>

  <p><a href="#">Try it now!</a></p>
</div>

<div class="right">
  <img src="/static/images/friends.png" />
</div>

<div class="spacer">
</div>

</div>

<div class="white">

  <h1>We help you make sense of things</h1>

  <h2>Intuitive interface with many tutorials</h2>
  
  <div class="left">
    <img src="/static/images/example.png" />
  </div>
  
  <div class="right">
    <p>Nash helps you make sense of the things you have experienced
      that don't make sense.</p>

    <p>Make simple diagrams of the things that don't make sense, and
    get your friends and family to help you figure them out.</p>

    <p>Things that don't make sense are highlighted in red, while
      things that do make sense are highlighted in green. This lets
      you quickly try out new theories and get instant feedback.</p>

    <p><a href="#">Try this example out now!</a>
    </p>
  </div>

<div class="spacer">
</div>

</div>

<div class="white">

  <h1>Built with friends and family in mind</h1>

  <h2>Finally, something you can do</h2>
  
  <div class="left">
    <p>Engage with someone who's having trouble in a respectful,
    constructive, and helpful way.
    </p>

    <p>Propose alternative explanations for events that seem weird to
    your friend or family member.
    </p>

    <p><a href="#">Try it out now!</a>
    </p>
  </div>

<div class="spacer">
</div>

</div>

{% endblock %}
