{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

<h1>Manifesto</h1>

<h3>Here at realitytesting.org, we aspire to nothing less than
rewriting the social contract around people who have weird
beliefs.</h3>

<h3>We envision a better society, in which people with weird beliefs
can trust the people around them to treat them with dignity and
  respect and help them through their rough patches.</h3>

<h3>We also envision a society that engages with people with weird
beliefs and tries to make them stronger and better able to reason
about the world around them, rather than weaker and more
compliant.</h3>

<h1>A note on terminology</h1>

<p>We think that words matter, because they have all sorts of embedded
  assumptions in them that shape how we think about the world.</p>

<p>A few of the choices we have made:
  <dl>
    <dt>Weird belief</dt>
    <dd>We use this term instead of the more common term "delusion",
      because we think that it's more fair to the experience of people
      with weird beliefs. Everyone can agree that some beliefs are
      less common than others, and it feels fair to call these beliefs
      "weird". Calling such beliefs "delusions" makes it harder to
      engage with people with weird beliefs, and gives other people a
      (we believe) unjustified sense that they are clearly in the
      right.
    </dd>

    <dt>Having trouble telling what is real and what isn't</dt>
    <dd>We use terms like this instead of more technical terms like
      "psychosis", because we feel that trouble like this exists along
      a smooth continuum from people that everyone would agree are
      normal to people who most would agree are having a lot of
      trouble. We feel that using technical terms encourages a false
      sense that some people are "normal" and some people are "crazy",
      and encourages stigmatization of people who have more trouble
      than others.
    </dd>
</p>

{% endblock %}
