/**** default styles ****/
body {
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
}

/**** element styles ****/
hr { border-color: #cccccc; margin: 0px; }

/**** header, main and footer divs ****/
.header-title { font-size: 30px; }
#header-div {
    background-color:#cc0000;
    color: #ffffff;
    padding: 15px;
}
#header-div a {
    color: #ffffff;
}
#menu-div {
    background-color:#cc0000;
    color: #ffffff;
    padding-left: 15px;
}
#menu-div a {
    color: #ffffff;
}

/**** class-based style modifiers ****/

.no-margins { margin: 0px; }

.with-margins { margin: 10px; }

.col-centered { float: none; margin: 0 auto; }
