/**** graph interface styles ****/

.graph {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.graph:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.graph.edit-mode .node, .graph.edit-mode .node-label {
    cursor: crosshair;
}

.graph.edit-mode .edge {
    cursor: default;
}

.node {
    fill: #999999;
    stroke-width: 2;
}

.node-true {
    fill: #ffffff;
}


.node-locked {
    stroke-width: 5;
}

.node-selected {
    fill: #ffb400 !important;
}

.node-label {
    font-family: 'sans-serif';
    font-size: 10px;
}

.drag-line {
    stroke: #999;
    stroke-width: 5;
    stroke-opacity: 0.7;
    pointer-events: none;

}

.drag-line-hidden {
    stroke: #999;
    stroke-width: 0;
    pointer-events: none;
}

.edge {
    stroke: #999;
    stroke-width: 5;
}

.edge-selected {
    stroke: #ffb400 !important;
}

.reference-edge {
    stroke-width: 3;
    stroke: #ff3232;
}

#infoboxes {
    width: 200px;
    float: right;
}

#infobox-left, #infobox-right {
    border: 3px solid #999999;
    background-color: #cccccc;
    width: 200px;
}

#infobox-left {
    float: right;
}

#infobox-right {
    float: right;
}

#infobox hr {
    height: 3px;
    display: block;
    background-color: #999999;
}


#chart {
    float: left;
}

#chart-spacer {
    width: 100%;
    height: 700px;
}

#helpers {
    float: left;
    overflow-y: scroll;
    width: 200px;
    padding: 30px;
}

#helpers .helper img {
    margin-top: 30px;
}

#helpers .helper {
    cursor: pointer;
}
